<style>
  .alert-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 65, 34);
    color: white;
    font-size: 16px;
    padding: 10px;
  }

  .flag {
    width: 40px;
    height: 25px;
    background: linear-gradient(to bottom, #1e568f 50%, #c3d128 50%);
    margin-right: 10px;
  }

  .text {
    font-weight: bold;
    margin-right: 10px;
    font-family: sans-serif;
    text-align: center;
  }

  .donation-link {
    color: rgb(247, 246, 243);
    text-decoration: underline;
    margin-left: 10px;
  }

  .donation-link a:hover {
    color: lightslategray;
  }

  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
</style>

<div class="alert-bar">
  <div class="flag"></div>
  <div class="text">
    Support Ukraine! 
    <a href="https://u24.gov.ua" target="_blank" class="donation-link">Donate Now</a>
  </div>
  <button class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
</div>
